<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gestor_de_Inventario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="Gestor_de_Inventario.Properties.Settings.GestordeInventarioConnectionString"
            connectionString="Data Source=DESKTOP-Q5U7BC9\MISSLEIDY;Initial Catalog=GestordeInventario;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Gestor_de_Inventario.Properties.Settings>
            <setting name="UsuarioGuardado" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordarUsuario" serializeAs="String">
                <value>False</value>
            </setting>
        </Gestor_de_Inventario.Properties.Settings>
    </userSettings>
</configuration>